In [1]:
import pandas as pd

df1 = pd.read_csv('Dataset/WHO-COVID-19-global-data.csv', sep=';')
df2 = pd.read_csv('Dataset/population_by_country_2020.csv')

In [2]:
df1.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,05/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,12/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,19/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,26/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,02/02/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0

In [3]:
df2.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [ ]:
df1.drop(['WHO_region','New_cases','New_deaths','Country_code'], axis=1, inplace=True)
df1.head()

  Date_reported      Country  Cumulative_cases  Cumulative_deaths
0    05/01/2020  Afghanistan                 0                  0
1    12/01/2020  Afghanistan                 0                  0
2    19/01/2020  Afghanistan                 0                  0
3    26/01/2020  Afghanistan                 0                  0
4    02/02/2020  Afghanistan                 0                  0

In [ ]:
df2 = df2[['Country (or dependency)', 'Population (2020)']]
df2.head()

  Country (or dependency)  Population (2020)
0                   China         1440297825
1                   India         1382345085
2           United States          331341050
3               Indonesia          274021604
4                Pakistan          221612785

In [6]:
df2.rename(columns={'Country (or dependency)': 'Country', 'Population (2020)': 'Population'}, inplace=True)
df2.head()

         Country  Population
0          China  1440297825
1          India  1382345085
2  United States   331341050
3      Indonesia   274021604
4       Pakistan   221612785

In [7]:
df = pd.merge(df1, df2, left_on='Country', right_on='Country', how='inner')

df['Cumulative_cases_per_100k'] = (df['Cumulative_cases'] / df['Population']) * 100000
df['Cumulative_deaths_per_100k'] = (df['Cumulative_deaths'] / df['Population']) * 100000

df.head()

,Date_reported,Country,Cumulative_cases,Cumulative_deaths,Population,Cumulative_cases_per_100k,Cumulative_deaths_per_100k
0,05/01/2020,Afghanistan,0,0,39074280,0.0,0.0
1,12/01/2020,Afghanistan,0,0,39074280,0.0,0.0
2,19/01/2020,Afghanistan,0,0,39074280,0.0,0.0
3,26/01/2020,Afghanistan,0,0,39074280,0.0,0.0
4,02/02/2020,Afghanistan,0,0,39074280,0.0,0.0

In [8]:
df = df[['Date_reported', 'Country', 'Cumulative_cases_per_100k', 'Cumulative_deaths_per_100k']]
df.head()

,Date_reported,Country,Cumulative_cases_per_100k,Cumulative_deaths_per_100k
0,05/01/2020,Afghanistan,0.0,0.0
1,12/01/2020,Afghanistan,0.0,0.0
2,19/01/2020,Afghanistan,0.0,0.0
3,26/01/2020,Afghanistan,0.0,0.0
4,02/02/2020,Afghanistan,0.0,0.0

In [9]:
df.to_json('df.json', orient='records', lines=True)

In [10]:
import re

# Leer el archivo JSON
with open('df.json', 'r') as file:
    content = file.read()

# Agregar las comas que faltan entre los objetos JSON
# Busca patrones de objetos JSON y agrega una coma entre ellos
corrected_content = re.sub(r'(?<=\})(\s*)(?=\{)', r',\1', content)

# Envolver el contenido en corchetes para formar un array JSON válido
corrected_content = f'[{corrected_content}]'

# Guardar el contenido corregido en un nuevo archivo
with open('df.json', 'w') as file:
    file.write(corrected_content)

print("Archivo corregido guardado como 'df.json'")

Archivo corregido guardado como 'df.json'